<html>

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <div>
        <span>Selecciona una Imagen</span>
        <br>
        <span>{{image}}</span>
    </div>
    <br>

    <div>
        <span>Nombre de la Receta</span>
        <span>{{rcpName}}</span>
    </div>
    <br>

    <div class="mb-3 text">
        <span>Ingredientes</span>
        <span>{{rcpIngredients}}</span>
    </div>
    <br>

    /*<div class="allergens">
        <p>Contiene Alimentos Alérgenos</p>
        <ul>
            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="lactose" />
                <label class="form-check-label" for="lactose">Lactosa</label>
            </li>

            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="eggs" />
                <label class="form-check-label" for="eggs">Huevo</label>
            </li>

            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="nuts" />
                <label class="form-check-label" for="nuts">Frutos Secos</label>
            </li>

            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="soya" />
                <label class="form-check-label" for="soya">Soja</label>
            </li>

            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="seafood" />
                <label class="form-check-label" for="seafood">Mariscos</label>
            </li>

            <li class="checkInList">
                <input type="checkbox" class="form-check-input" id="fish" />
                <label class="form-check-label" for="fish">Pescados</label>
            </li>
        </ul>
    </div>
    <br>
    <div class="mb-3 text">
        <label for="dietRestrictions">Apto para Veganos/Vegetarianos</label>
        <select class="form-control" id="dietRestrictions">
            <option></option>
            <option>Veganos</option>
            <option>Vegetarianos</option>
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="celiac" />
        <label class="form-check-label" for="celiac">Apto para Celiacos</label>
    </div>
    <br>
    <br>
    <div class="buttons">
        <a href="index.html">
            <button type="button" class="btn btn-secondary">
                Cancelar
            </button></a>
        <a href="#">
            <button type="submit" class="btn btn-success">
                Guardar
            </button></a>
    </div>
</form>
</body>

</html>