<!DOCTYPE html>
<html>

<head>
  <title>{{rcpName}}</title>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/x-icon" href="/public/Imagenes/logoNegro.ico">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> </script>
  <link rel="stylesheet" href="public\DetalleStyle.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navegacion" id="shadow">
    <div class="container-fluid">

      <a class="navbar-brand logo" href="index.html"><img src="/public/Imagenes/TastyGramAlargado.png"></a>

      <button id="buttonCollapse" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse customCollapseMenu" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row">
          <li class="nav-item headerElement">
            <a class="nav-link" href="#"><i class="bi bi-person-fill"></i></a>
          </li>
          <li class="nav-item dropdown headerElement">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-list"></i>
            </a>
            <ul id="dropCustom" class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Explorar</a></li>
              <li><a class="dropdown-item" href="#">Compartir</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
            </ul>
          </li>
          <li class="nav-item buttonCrear">
            <button class="btn btn-success" type="button">
              <a href="/public/crearElemento.html"><i class="bi bi-plus"></i>Crear Receta</a>
            </button>
          </li>
        </ul>
      </div>

    </div>
  </nav>


  <div class="general">
    <div class="modify">
      <div class="left">
        <button><a href="index.html"><i class="bi bi-arrow-90deg-left"></i></a></button>
      </div>

      <div class="right">
        <button><i class="bi bi-brush"></i></button>
        <form action="/detalle/{{id}}/delete" method="post">
          <button type="submit"><i class="bi bi-trash3"></i></button>
        </form>
      </div>
    </div>

    <h1 class="Titulo display-1">{{rcpName}}</h1>

    <div id="contenedorPrincipal">
      <img src="{{rcpImage}}" alt="Imagen principal" class="rounded-circle logoImg" />
      <div class="ContenedorTag">
          {{#celiac}}
            <div class="tag sg">Apto para Celiacos</div> <!--Agregar checks en Public/crearElemento-->
          {{/celiac}}
          
          {{#lactose}}
            <div class="tag sn">Lactosa</div>
          {{/lactose}}
          
          {{#showDietRestriction}}
            <div class="tag v">{{dietRestrictions}}</div>
          {{/showDietRestriction}}

          {{#nuts}}
            <div class="tag n">Nueces</div>
          {{/nuts}}

          {{#fish}}
            <div class="tag p">Pescado</div>
          {{/fish}}

          {{#egg}}
            <div class="tag h">Huevo</div>
          {{/egg}}

          {{#seafish}}
            <div class="tag m">Mariscos</div>
          {{/seafish}}

          {{#soya}}
            <div class="tag s">Soja</div>
          {{/soya}}
      </div>
    </div>
    <br>
    <br>
    <div class="contenedorSecundario">
      <div id="ContenedorIngredientes">
        <h2 id="tituloIngredientes">INGREDIENTES</h2> <!--FOR con li que separe los enter-->
        <ul>
          {{#rcpIngredients}}
            <li>{{.}}</li>
          {{/rcpIngredients}}
        </ul>
      </div>

      <div id=" ContenedorPreparacion">
        <h2 id="tituloPreparacion">PREPARACIÓN</h2>
        {{rcpDescription}}
      </div>
    </div>

    <br>
    <hr class="solid">
    <hr class="solid">

    <div id="reviewZone">
      <div class="formClass">
        <h1 id="reviewTitle">¿QUÉ TE HA PARECIDO ESTA RECETA?</h1><br>

        <div class="item1">
          <div class="nameInput">
            <input type="text" id="inputName" placeholder="Nombre">

            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>

          <div class="review">
            <textarea id="inputReview" rows="5" cols="65%" placeholder="Escribe tu reseña aquí..."></textarea>
          </div>

          <div class="publicar">
            <button><i class="bi bi-send-fill"></i></button>
          </div>
        </div>

        <div class="item2">
          <div class="subitems">
            <img src="/Img/profilePic.png">
            <p id="userName">Alejandra
              <span>★ ★ ★ ★</span>
            </p>
            <p id="userReview">lore ipsum, lore ipsum, Lorem ipsum dolor </p>
          </div>

          <div class="subitems">
            <img src="/Img/profilePic.png">
            <p id="userName">Beatriz
              <span>★ ★</span>
            </p>
            <p id="userReview">lore ipsum, lore ipsum, Lorem ipsum dolor </p>
          </div>

          <div class="subitems">
            <img src="/Img/profilePic.png">
            <p id="userName">Luis
              <span>★ ★ ★ ★ ★</span>
            </p>
            <p id="userReview">lore ipsum, lore ipsum, Lorem ipsum dolor </p>
          </div>

        </div>

      </div>
    </div>

  </div>

</body>

</html>