@font-face {
    font-family: firaFont;
    src: url(Fira/FiraSansCondensed-Medium.ttf);
}

@font-face {
    font-family: firaFontLight;
    src: url(Fira/FiraSansCondensed-Light.ttf);
}


* {
    scroll-behavior: smooth;
    font-family: firaFont;
    overflow: visible;
}

body{
    background-color: #084857 !important;
}


/*NavBar*/
.navegacion {
    background-color: #084552;
}

#shadow {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.068), 0 0 40px rgba(0, 0, 0, 0.021) inset;
}

#shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.logo img {
    max-width: 50%;
    min-width: 10px;
    height: auto;
}

@media (max-width: 450px) {
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.customCollapseMenu {
    justify-content: flex-end;
}
.customCollapseMenu ul{
    margin-right: 1px !important;
}

.customCollapseMenu li{
    margin-right: 10px;
}

#buttonCollapse {
    
    background-color: #ECE6CF;
}

.headerElement{
    margin-top: .7rem;
}

.headerElement a, i{
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    transition: .3s;
}

.headerElement a.active, i:hover{
    color: #55B47D;
}

#dropCustom {
    background-color:#ECE6CF;
    color:#ECE6CF;
}

#dropCustom a, hr {
    color:#07353f;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

#dropCustom a:hover {
    color:#55B47D;
    background-color: #ECE6CF;
}


.buttonCrear {
    padding: .3rem 1rem;
    border-radius: 28px;
    transition: all .2s ease-in-out;
}

.buttonCrear a{
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .7px;
    transition: .3s;
}


.buttonCrear:hover {
    transform: scale(1.05);
}


/*Contenedor*/

.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    overflow: -moz-hidden-unscrollable;
    background-color: #084857;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.recipeInfo{
    color:#ECE6CF;
    width: 30rem;
    background-color: #07353f;
    padding: 10px 10px 20px 10px;
    border: 6px solid #F29090;
    box-shadow: 10px 10px 5px black;
    padding: 20px;
    margin-left: 50px;
    margin-top:20px;
    border-radius: 20px;
}

.recipeInfo label{
    font-size: 1.4rem;
}

.recipeInfo h1{
    margin-bottom: 1rem;
    font-weight: bolder;
    color:#F29090;
    font-size: 3.4rem;
    text-align: center;
}

#MainGif > img{
    width: 600px;
    margin-top: 100px;
    border: 10px solid #F29090;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
}

.form-control:hover{
    border: 5px solid #F29090;
    transition: all 0.1s ease-in-out;
    transform: scale(1.0);
}

.mb-3:hover, .allergens li:hover{
  color: #F29090;
  transition: all 0.1s ease-in-out;
}

.text>input, .text>textarea, .text>select{
    border: 3px solid #F29090;
}

.custom-file input{
    font-size: .9rem;
    font-family: firaFontLight;
}

.buttons{
    display: flex;
    justify-content: space-between;
    
}

.buttons a{
    text-decoration: none;
    color:#ECE6CF;
}

.form-group option{
    color:#07353f;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.allergens p{
    font-size: 1.4rem;
}

.allergens ul{
   list-style: none; 
   padding: 0;
}

.checkInList{
    display: inline-block;
    margin-right: 1rem;
}

.checkInList label{
    font-size: 1rem;
    font-weight: bold;
    font-family: firaFontLight;
}

/* Estilos para la alerta de error */
.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}