@font-face {
    font-family: firaFont;
    src: url(Fira/FiraSansCondensed-Medium.ttf);
}

@font-face {
    font-family: firaFontBold;
    src: url(Fira/FiraSansCondensed-Bold.ttf);
}

@font-face {
    font-family: firaFontLight;
    src: url(Fira/FiraSansCondensed-Light.ttf);
}

* {
    scroll-behavior: smooth;
    font-family: firaFont;
}

/*NavBar*/
.navegacion {
    background-color: #084552;
}

#shadow {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.068), 0 0 40px rgba(0, 0, 0, 0.021) inset;
}

#shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.logo img {
    max-width: 50%;
    min-width: 10px;
    height: auto;
}

@media (max-width: 450px) {
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.customCollapseMenu {
    justify-content: flex-end;
}

.customCollapseMenu ul {
    margin-right: 1px !important;
}

.customCollapseMenu li {
    margin-right: 10px;
}

#buttonCollapse {
    background-color: #ECE6CF;
}

.headerElement {
    margin-top: .7rem;
}

.headerElement a,
i {
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    transition: .3s;
}

.headerElement a.active,
i:hover {
    color: #55B47D;
}

#dropCustom {
    background-color: #ECE6CF;
    color: #ECE6CF;
}

#dropCustom a,
hr {
    color: #07353f;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

#dropCustom a:hover {
    color: #55B47D;
    background-color: #ECE6CF;
}


.buttonCrear {
    padding: 3%;
    width: 220px;
    border-radius: 28px;
    transition: all .2s ease-in-out;
}

.buttonCrear a {
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .7px;
    transition: .3s;
}


.buttonCrear:hover {
    transform: scale(1.05);
}

/*Contenedor general*/


.general{
    min-height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #084857;
    padding-top: 2rem;
    margin: 0 auto;
}

.boldText {
    font-family: firaFontBold;
    color: #ECE6CF;
    text-shadow: 0 0 6px rgb(80, 80, 80);
}

.Titulo {
    font-family: firaFontBold;
    text-align: center;
    color: #ECE6CF;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 0 0 6px rgb(80, 80, 80);
    padding-top: 7%;
}

/*Contenedor principal*/
#contenedorPrincipal {
    position: relative;
    margin: 3%;
}

#ImgContainer img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.logoImg {
    display: block;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 40px;
    transition: 1s;
}

.logoImg:hover {
    transform: translateY(-10px);
    transition: 1s;
}

/*Botones*/
.modify {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.modify button {
    background-color: #08455200;
    border-radius: 50%;
    border: none;
}

.modify button:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    border-radius: 50%;
    background-color: #1e62719d;
}

.left a>i,
.right button>i {
    font-size: 1.3rem;
    text-decoration: none;
    color: #ECE6CF;
}

.right {
    display: flex;
    gap: 1.3rem;
    position: relative;
    justify-content: right;
    padding-right: 3rem;
}

.left {
    position: relative;
    justify-content: left;
    padding-left: 3rem
}

/*Contenedor de etiquetas*/

#contenedorPrincipal .tag {
    width: 90px;
    display: inline;
    margin-top: 60px;
}

.rounded-circle {
    width: 330px;
    border: 7px solid #f4a2a2e3;
}


.ContenedorTag {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%px;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 2rem;
    text-align: center;
}


.tag {
    box-shadow: rgb(80, 80, 80);
    padding: .6rem;
    border-radius: 10px;
    margin: 8px;
    background-color: #052229c6;
    color: #e3e1d6;
    text-shadow: rgb(80, 80, 80);
}


/*Contenedor secundario*/
.contenedorSecundario {
    position: relative;
    padding: 3rem;
    color: #ECE6CF;
    text-align: justify;
    line-height: 2rem;
    margin: 3rem;
    background-color: #ece6cf3d;
    border-radius: 1rem;
}

#tituloPreparacion,
#tituloIngredientes {
    font-family: firaFontBold;
    text-decoration: underline;
    color: #052229;
}

/* FORMULARIO DE RESEÑA*/
hr.solid {
    border-top: 3px solid #bbb;
}

#reviewZone{
    display: flex;
    justify-content: center;
    min-height: 25rem;
    margin-bottom: 2rem;
}

/*grid*/
.formClass {
    margin: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    max-height: 2rem;
}

.item1 {
    display: grid;
    grid-template-columns: 504px 39px;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    margin-top: 2rem;
}

/*items inside each cell*/
/*cell "item1"*/
#reviewTitle{
    text-shadow: #052229;
    color: #f4a2a2e3;
    font-family: firaFontBold;
}

.nameInput{
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.review{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-row-start: 2;
}


#inputName , .review textarea{
    border: none;
    background-color: #ECE6CF;
    color: #084552;
    padding: 10px;
    border-radius: 5px;
}

.publicar{
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: flex-end;
}

.publicar button {
    background-color: #08455200;
    border-radius: 50%;
    border: none;
}

.publicar button:hover,
.publicar i:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    color: #f4a2a2e3;
}

.rate {
    float: left;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #F29090;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #F29090;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #F29090;
}

.star-filled {
    color: #F29090;  /*Añadido*/
  }

  .star-rating{

     height: 30px;
  }

/*cell "item2" = subitems*/
.item2 {
    display: grid;
    position: relative;
    grid-auto-rows: minmax(400px, 400px);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
}

.item2::-webkit-scrollbar {
    width: 150px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1d0;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}



.subitems{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0;
    max-height: 70%;
    max-width: 60%;
    border-radius: 15px;
    background-color: #ece6cfe3;
    padding: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: justify;
    white-space: pre-line;
    box-shadow:1px 7px 25px 4px rgba(5,34,41,0.18);
}

.subitems img{
    border-radius: 50%;
    max-width: 20%;
    max-height: 20%;
}

#userReview{
    font-family: firaFontLight;
    
}

#userName{
    font-size: larger;
    font-style: italic;
    text-align: center;
}

#userName span{
    font-size: large;
    color: #F29090;
}


