@font-face {
    font-family: firaFont;
    src: url(Fira/FiraSansCondensed-Medium.ttf);
}

* {
    scroll-behavior: smooth;
    font-family: firaFont;
}
html, body{
    min-height: 100%;
    background-color: #084857;
}

/*NavBar*/
.navegacion {
    background-color: #084552;
}

#shadow {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.068), 0 0 40px rgba(0, 0, 0, 0.021) inset;
}

#shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.logo img {
    max-width: 50%;
    min-width: 10px;
    height: auto;
}

@media (max-width: 450px) {
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.customCollapseMenu {
    justify-content: flex-end;
}
.customCollapseMenu ul{
    margin-right: 1px !important;
}

.customCollapseMenu li{
    margin-right: 10px;
}

#buttonCollapse { 
    background-color: #ECE6CF;
}

.headerElement{
    margin-top: .7rem;
}

.headerElement a, i{
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    transition: .3s;
}

.headerElement a.active, i:hover{
    color: #55B47D;
}

#dropCustom {
    background-color:#ECE6CF;
    color:#ECE6CF;
}

#dropCustom a, hr {
    color:#07353f;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

#dropCustom a:hover {
    color:#55B47D;
    background-color: #ECE6CF;
}


.buttonCrear {
    padding: 3%;
    width: 220px;
    border-radius: 28px;
    transition: all .2s ease-in-out;
}

.buttonCrear a{
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .7px;
    transition: .3s;
}


.buttonCrear:hover {
    transform: scale(1.05);
}

/*Página Principal con las Recetas*/

.general {
    position: relative;
    background-color: #084857;
    padding-top: 2rem;
    margin: 0 auto;

}

.general .container {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #084857;
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 288px);
}

/*Items*/
.recetas {
    flex-grow: 1;
    flex-basis: 10vw;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    transition: transform 250ms;
    box-shadow: 0 0 20px 0 #07353f;
    overflow: hidden;
}

.recetas:hover {
    transform: translateY(-10px);
}

.recetas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.imgRecetas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
}

.textoRecetas {
    padding: 0.8rem;
    text-align: center;
    background: #F29090 !important;
    color: #084552 !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0rem 0rem 1rem 1rem;
}

.textoRecetas h2{
    font-size: 1.5rem;
}